@import "nullstyle.scss";
$fz:24px;
$fs:42px;
$frd:  #ec6863;
$frl:  #f37a82;
$fbd: #4285f4;
$fbl: #70a3f7;
@function prc($pxOne, $pxTwo){
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}


@function rem($px){
  $result: math.div($px, 16) + rem;
  @return $result;
}
body{
  background-color: #0d0d11;
  font-family: "Poppins";
  font-weight: 300;
  color: #9C9C9C;
}
/*--------------------------------------*/
.wrapper{
min-height: 100%;
display: flex;
flex-direction: column;
overflow: clip;
}
/*--------------------------------------*/
[class*="__container"]{
  max-width: 1310px;
  margin: 0 auto;
  padding: 0px 15px;

}
/*--------------------------------------*/
.page{
  flex: 1 1 auto;
}





























/*@import "nullstyle.scss";
$fz:24px;
$fs:42px;
$fb: rgb(190, 211, 209);
$fp: rgba(162, 158, 197, 0.966);
$fy: rgba(224, 200, 90, 0.801);

@function prc($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}

@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}





/* 
body{
  line-height: 1;


  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.example {
  padding: 80px 0;
}
.example__container {
  padding: 0px 15px;
  margin: 0px auto;
  max-width: 65.625rem;
  position: relative;
}
.example__container::before{
  content: "";

}

.example__sub-title {
  color: darkblue;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.7;
  margin: 0px 0px 1.07em 0px;
}
.example__title {
  color: darkgreen;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.625rem;
  line-height: 1.19;
  margin: 0px 0px 0.38em 0px;
  letter-spacing: 0.12em;
}
.example__text {
  line-height: 1.5;
}
.example__items {
display: flex;
row-gap: 24px;
}
.example__item {
  column-gap: 23px;
  display: flex;
}
.item-example {


}
.item-example__icon {
  flex:  0 0 63px;
}
.item-example__body {
}
.item-example__title {
  color: darkred;
  font-weight: 900;

  font-size: 1.5rem;
margin: 0px 0px 0.45em 0px;

}
.item-example__text {
  line-height: 1.5;
}







.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;


}
.full-screen {
  position: relative;
  min-height: 100vh;
  display: flex;

  flex-direction: column;
}
.full-screen__body {
  color: white;
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
 
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}
.full-screen__title {
  font-size: 50px;
  letter-spacing: 25px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}
.full-screen__text {
  font-size: 18px;
  letter-spacing: 15px;
}
.full-screen__video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content {
  position: relative;
  z-index: 5;
  background-color: rgb(207, 89, 46);
}
.content__contanber {
  max-width: 1200px;
  margin: 0px auto;
  padding: 50px 15px ;
  font-size: 18px;
  line-height: 150%;

}

.content__contanber p{
  margin: 0px 0px 20px 0px;
}













.vido{

}
.video__item{
  width: 400px;
}
.items {
  padding: 50px 20px;
}
.items__container {
  max-width: 1200px;
  margin: 0px auto;
}
.items__body {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
.item__video iframe{

}
.item__video{
  object-fit: cover;
  position: relative;
  margin: 0px 0px 15px;
padding: 0px 0px 50% 0px;
}
.item__video video, iframe{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video__item {
}
.item__text {
font-size: 24px;

}














.wrapper {
  min-height: 100%;
  display: grid;
  grid-template: minmax(100px, auto) 1fr, minmax(70px, auto) / 1fr;
  grid-template-areas: 
  "header"
  "main"
  "footer";
}
.header {
  grid-area: header;
  padding: 15px;
  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr; 
  background-color:orange;
}
.header__logo {
width: 70px;
height: 70px;
border-radius: 50%;
background-color: black;
grid-column: 2 / 3;
}
.header__menu {
  grid-column: 3 / 4;
}
.header__list {
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
}
.header__list li {
}
.header__link {
  color: white;
  font-size: 18px;
}
.header__burger {
}
@media (max-width: 992px){
  .header__list{
    display: none;
  }
  .header__menu{
    display: grid;
    justify-items: end;
  }
  .header__burger{
    width: 30px;
    display: grid;
    align-items: center;
    grid-template: repeat(3, 8px) / 1fr;
  }
  .header__burger::before{
    content: "";
    height: 2px;
    width: 30px; 
    background-color: white;
  }
  .header__burger::after{
    content: "";
    height: 2px;
    width: 30px; 
    background-color: white;
  }
  .header__burger span{
    content: "";
    height: 2px;
    width: 30px; 
    background-color: white;
  
  }
}


.sidebar {

  background-color: aquamarine;
  color: black;
  padding:30px 15px;

}
.sidebar__menu {
}
.sidebar__list {
}
.sidebar__list li {
    padding: 0px 0px 15px 0px;
}
.sidebar__link {
  font-size: 20px;
}

.content__title {
}
.content__gallery {
  margin: 0px 0px 30px 0px;
}
@media (min-width: 992px){
  .main {
    grid-area: main;
    padding: 30px 15px;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr; 
  }
  .sidebar{
    grid-column: 2 / 3;
    margin: 0px 0px 30px 0px;
  }
  .content {
    grid-column: 3 / 4;
    padding: 0px 0px 0px 30px;
  }
}
.gallery {
}
.gallery__title {
}
.galley_items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.galley_item{
  position: relative;
  padding: 0px 0px 85% 0px;
}
.galley_item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.galley_item_gallery__item_big{
  grid-column: span 2;
  grid-row: span 2;
}
.gallery__item_big {

}
.content__products {
}
.products {
}
.products__title {
}
.product__items {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.produsct__item {
  display: grid;
  grid-auto-flow: row;
  grid-template:auto 1fr minmax(40px, auto) / 1fr ;
}
.products__image{
  position: relative;
  padding: 0px 0px 90% 0px;
  margin: 0px 0px 20px 0px;
}
.products__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product__name {
  font-size: 24px;
  line-height: 30px;
  margin: 0px 0px 20px 0px;
}
.product__button {
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: purple;
  text-decoration: none;
  line-height: 40px;
  padding: 0px 20px;
  justify-self: start;
  margin: 0px 0px 30px 0px;
}
.footer {
background-color: purple;
display: grid;
grid-area: footer;
grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr; 
padding: 15px;
align-items: center;
text-align: right;
}

@media (min-width: 550px){
  .footer__copy {
    grid-column: 2 / 3;
  }
  .footer__text {
    text-align: right;
    grid-column: 3 / 4;
  }
}
@media (max-width: 550px){
  .footer{
    grid-template: 1fr 1fr / 1fr;
  }
  .footer__copy {
  order: 2;
  padding: 5px 0px 0px 0px;
  }
  .footer__text {
    order: 1;
  }
}



\











.grid_body{
  display: grid;


  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  line-height: 40;
  background-color: purple;
  padding: 0px 20px;
  justify-self: start;
  grid-template: repeat(2, 1fr) / repeat(3, 2fr);


}
.grid-item{
  text-align: center;
  border: 2px dashed rgba(255, 255, 255, 0.2);
  padding: 30px;
}
h2{
  font-size: 30px;

.grid-wrapper{
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr;
  display: grid;
  grid-template-areas:
  "header header"
  "side content" ;
}

}
.grid-header {
  grid-area: header;
  padding: 30px;
  border: 2px dashed gray;
  margin: 0px 0px 15px 0px;
}
.grid-side {
  padding: 30px;
  border: 2px dashed gray;
  margin: 0px 0px 15px 0px;
  grid-area: side;
}
.grid-content {
  grid-area: content ;
  padding: 30px;
  border: 2px dashed gray;
  margin: 0px 0px 15px 0px;
}







html,body{
  height: 100% ;
}
body{
  background-color: black;
}
.wrapper {
  display: flex;


  justify-content: center;
  text-align: center;
}
.wave-btn {
  position: relative;
  width: 260px;
  height: 60px;
  display: flex;
  border-radius: 0 0 10px 10px;
  justify-content: center;
  align-content: center;
  transition: all  0.8s ease 0s;
  text-decoration: none;
  overflow: hidden;
}
.wave-btn:hover{
  border-radius: 10px;
  transition: all  0.8s ease 0.2s;
  box-shadow: 0 0 40px rgba(73,115,255,0.6);
}
.wave-btn:hover .wave-btn__waves{
  top: -50px;
}
.wave-btn__text {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 8px;
  position: relative;
  z-index: 1;

}
.wave-btn__waves {
  position: absolute;
  width: 280px;
  height: 280px;
  top: 0;
  left: 0;
  background-color: #4973ff;
  box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
  transition: all  0.8s ease 0s;
}

.wave-btn__waves:after,
.wave-btn__waves :before{
content: '';
position: absolute;
top: 0;
left: 50%;
width: 250%;
height: 250%;
transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
}
.wave-btn__waves :before{
  background-color: black;
  border-radius: 48%;
  animation: waves 5s infinite linear;
}
.wave-btn__waves:after{
  animation: waves 10s infinite linear;
  background-color:  rgba(0,0,0,0.5);
  border-radius: 44%;
}

@keyframes waves{
  0%{
    transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);

  }
  100%{
    transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
  }
}










.content__translate{
  transform: translate(50px, 50px);
  background-color: brown;
}
.content__translate :hover{
  transform: translate(0px, 0px );

}
.content__block{
  
}
.content__translate{
  background-color: #4357ac; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transform: translate(0px, 0px);
  position: relative;
  left: 50%;
  



}
.content__translate:hover{
  transform: translate(100px, 0px ); 
  transition: all  0.8s ease 0s;
  background-color: #4CAF50; 
  color: white;
  
}
.content__scale{
  background-color: #4357ac; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transform: translate(0px, 0px);
  position: relative;
  left: 50%;
  transform: scale(1,1);
  background-color: $fp;
}
.content__scale:hover{
  transform: scale(1, -1); 
  transition: all  0.8s ease 0s;
  background-color: #4CAF50; 
  color: white;
  
}

.content__rotate{
  background-color: #55173d; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transform: translate(0px, 0px);
  position: relative;
  left: 50%;
  transform: rotate(1,1);
  background-color: $fp;
}
.content__rotate:hover{
  transform: rotate(180deg); 
  transition: all  0.8s ease 0s;
  background-color: #4CAF50; 
  color: white;
  
}

.content__matrix{
  background-color: #d14114; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transform: translate(0px, 0px);
  position: relative;
  left: 50%;


}
.content__matrix:hover{
  transform: translate(50px,50px) scale(0.5) rotate(45deg);
  transition: all  0.8s ease 0s;
  background-color: #4CAF50; 
  color: white;
  
}

.content__multi{
  background-color: #14c4d1; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transform: translate(0px, 0px);
  position: relative;
  left: 50%;
  transform-origin: 0 0;
  transform: rotate(0deg);

}
.content__multi:hover{

  transform: rotate(15deg);
  transition: all  0.8s ease 0s;
  background-color: #4CAF50; 
  color: white;
  
}

.content__perspective{
 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transform: translate(0px, 0px);
  position: relative;
  left: 50%;
  transform-origin: 0 0;
  transform: rotate(0deg);


  width: 150px;
height: 150px;
background-color: rgb(224, 122, 122);
perspective-origin: center;

perspective: 400px;

}
.content__perspective:hover{
transform: translate3d(200px, 200px, 500px);
  transition: all  0.8s ease 0s;
  background-color: #4CAF50; 
  color: white;
  
}


.content__matrix3d{

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transform: rotate3d( 1, 1, 1 ,0deg);
  position: relative;
  left: 50%;




  width: 150px;
height: 150px;
background-color: rgb(170, 32, 175);
perspective-origin: center;

perspective: 400px;

}
.content__matrix3d:hover{
transform: rotate3d( 1, 1, 1 ,45deg);
  transition: all  0.8s ease 0s;
  background-color: #4CAF50; 
  color: white;
  
}



















.cards_column{
  flex: 0 1 33.333%;
  padding: 0px 15px;
}
.cards_item{}

.cards_image{
  margin: 0px 0px 20px 0px ;
padding: opx opx 58% 0px;
  overflow: hidden;
  min-height: 150px;
}
.cards_image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
    top: 0;
    left: 0;
}
.cards_column{
  flex: 0 1 33.333%;
  padding: 0px 15px;
}
.cards_item{}

.cards_image{
  margin: 0px 0px 20px 0px ;
padding: opx opx 58% 0px;
  overflow: hidden;
  min-height: 150px;
}
.cards_image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
    top: 0;
    left: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.content{
  flex: 1 1 auto;
}
.hi{
  background-color: $fp;
  padding: 50px 0;
}
.hi_row{
  display: flex;
  justify-content: space-between;
}
.hi_body{
color: white;
padding: 0px 30px 0px 0px;
}
.hi_title{
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 60px;
  margin: 0px 0px 38px 36px;
}


.hi_list li:last-child{
  margin: 0;
}


.title {
  color: grey;
  font-size: 30px;
  line-height: 36px;
}
.what_title {
  margin: 0px 0px 33px 0px;
}

.what {
  padding: 50px 0px;
}
.container {
}
.waht_row {
  display: flex;

}
.what_image {
  flex: 0 0 430px;
}
.what_image {
  max-width: 100%;
}
.what_body {
  flex: 1 1 auto;
}
.what_title_title {
}
.what_text {

}
.what_text p{
  font-size: 16px;
  line-height: 24px;
  margin: 25px 0px 0px 0px;
}


.container{
  max-width: 1180px;
  margin: 0px auto;
}



.column {
  background-color: #f5f5f5;
  padding: 50px 0px 20px 0px;
}

.container {
}
.columns_title {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.columns_row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -8px;
}
.columns_column {
  padding: 0px 8px;
  flex: 0 1 50%;
  margin: 0px 0px 30px 0px;
}
.columns_item {

}
.item {
}
.item_row {
  display: flex;
}
.item_image {
  flex: 0 0  200px;
}
.item_body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 15px;
}
.item_title {
  font-size: 24px;
  line-height: 30px;
  margin: 0px 0px 13px 0px;
}
.item_text {
  color: #333333;
font-size: 16px;
line-height: 24px;
}








.footer{
  background-color: grey;
  

}
.footer_row{
  display: flex;
  align-items:center;
  justify-content: center;
  height: 65px;
}
.footer_text{
  font-size: 12px;
  letter-spacing: 0.3px;
  color: $fb;
}
.block{
  border: 11px;

}
.block_row{
  display: flex;
  flex-direction: column;

  color: white;
  font-weight: bold;
  font-size: $fs;
  margin: 80px;
  border: 20px solid $fy;
}
.block_column{
 
}
.block_column1{
  
}
.block_item1{
  padding: 30px;
  background-color:$fb;
  border: 20px solid $fp;
}
.block_column2{

}
.block_item2{
  padding: 30px;
  background-color:$fb;
  border: 20px solid $fp;
}
.block_column3{
}
.block_item3{
  padding: 30px;
  background-color:$fb;
  border: 20px solid $fp;
}
.all_about_block{
  font-size: $fz;
  margin: -80px 0px 0px 80px;
}
.about{

}
.about_body{
  max-width: 823px;
  margin: 0px auto;
}
.aboyt_header{}
.about_title{
  margin: 0px 0px 30px 0px;
}
.about_text{
  max-width: 688px;
  color: grey;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 25.89px;
  margin: 0px auto;
}
.about_row{
  display: flex;
  font-size: 0px;
  margin: 0px -15px;
}
.about_column{
  flex: 0 0 33.333%;
  padding: 0px 15px;
}
.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
   letter-spacing: 8.95px;
   position: relative;
  text-align: center;
   padding: Opx· Opx 30px Opx;
   &:after{
      content:'';
      position: absolute;
      width: 50px;
      bottom: 0;
      height: 1px;
      left: 50%;
      background-color: #000;
      margin: 0px 0px 0px -25px;
}
}
body{
  padding: 30px;
}
.text{
  font-size: 24px;
  line-height: 33px;
  margin: 0px 0px 30px 0px;
}
  .text::first-line{
    color: aqua;
  }
.list li{
  font-size: 24px;
  margin: 0px 0px 30px 0px;
}
.block{
  padding: 30px;
  font-size: $fz;
  line-height: 60px;
  >p{
    color: green;
  }
  span{
    color: green;
  }
  .block_text{
    font-size: $fs;
  }
  @extend%tplborder
}
.link2{
border: 2px;

}
.link3{
  text-decoration: line-through;
}
.link{
  font-size: $fz;
  color: blueviolet;
  text-decoration: underline;
  &:hover{
    color: green;
  }
}
body{
  padding: 30px;

}
.block{
  border: 5px solid red;
  max-width: 800px;
  margin: 0px auto;
  height: 1500px;

}
.block div{
  line-height: 50px;
  font-size: 18px;
  font-weight: 700px;
  text-align: center;

}
.block__1{
  background-color: rgb(228, 161, 161) ;
}
.block__2{
  background-color: rgb(192, 79, 79);
position: sticky;
top: 0px;
}
.block__3{
  background-color: brown;
}
.list li::before{
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: red;
  display: inline-block;
  margin: 0px 5px 0px 0px;
}
.list li:hover::before{
  background-color: yellow;
}
body{
  padding: 30px;
  font-size: 2 24px;
  margin: 0px 0px 20px 0px;
  line-height: 20px;
}
.link{
  color: red;
  margin:  0px 0px 29px 0px;
}
.link:hover{
  text-decoration: underline;
  color: blue;
}

.textinput{
  border: 1px solid grey;
  width: 300px;
  height: 50px;
  margin:  0px 0px 5px 0px;
  padding: 0px 15px;
}
.textinput:focus{
  box-shadow: 0 0 10px ;
}
.link2:active{
  color: aqua;
}
.button{
  display: block;
  width: 300px;
  height: 50px;
  background-color: grey;
  color: white;
text-transform: uppercase;
margin:  0px 0px 29px 0px;
}
.button:active  {
  border: 6px solid rgb(75, 49, 221);
  box-shadow: 2px 2px 2px 2px;  

}
.button:hover  {
  background-color:#666; 

}
.list >li:nth-child(1){
  color: green;
  font-weight: 300px;
}
.list > li:nth-child(2){
  color: green;
}
.box-two > div:nth-child(2) 
{ color: red; }

 
 body{
  background-color: rgb(226, 226, 236);
  font-family: Arial, Helvetica, sans-serif;
}
.h1{
  font-size: 15px;
  text-align: center;
  margin: 0px 0px 10px ;
  padding: 50px 0px 0px 0px  ;
  color: gray;
}
.h2{
  font-size: 25px;
  text-align: center;
  margin: 0px 0px 10px ;
  padding: 10px 0px  ;
  
}
div {
  display: flex;
  justify-content: center;
}


.img{
  border: 6px solid rgb(182, 178, 175);
  box-shadow: 2px 2px 7px 2px;
width: 60%;
}
.text1{
  padding: 0px 250px 0px 300px;
  font-size: 20px;
  margin: 5px 100px 5px 100px;
}
.text2{
  padding: 0px 250px 0px 300px;
  font-size: 20px;
  margin: 5px 100px 5px 100px;
}
.list{
  font-size: 20px;
  margin: 0px 0px 18px 0px;
  padding: 0px 250px 0px 300px;

}
.list li{
  
  background: url(../img/all-done-icon-7.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px;
  padding: 0px 0px 0px 30px;
  margin: 5px 100px 5px 100px;

}
.li1{
font-weight:700;
}
.li2{
font-style: italic;
color: aquamarine;
}
.li3{
font-weight: bold;
}
.li4{
  text-decoration: line-through;
  color: grey;
}


.BUTTON{
  font-size: 30px;
  color: aliceblue;
  background-color: aquamarine;
  padding: 0px 0px 0px 0px;
  box-sizing: 100px;
  border-color: aquamarine;
  border: 3px solid aquamarine;
  border-radius: 50% ;
  width: 300px;
  text-align: center;
  margin: 5px 50px 5px 800px;
}

 .italic{
    font-style: italic;
    font-size: 30px;
  }
  .italic{
    font-style: italic;
  }
  .size700{
    font-weight:700;
    font-size: 30px;
    font-style: italic;
    color: firebrick;
  }
  .right{
    text-align: right;
  }
  .center{
    text-align: center;
  }
  .down{
    text-align: justify;
    font-size: 30px;
  }
  .decoration{
    text-decoration: line-through
    ;
  }
  

  .Euphoria{
    font-style: oblique;
    font-size: 30px;
    text-decoration: underline;
  }
  .all{
    font-size: 20px;
    font-weight: 300;
  }
2
  .Example{
    border: 1,5px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    box-shadow: 2px 2px 7px 2px;


   
    width: 200px;
  }
  .imgine{
   border: 5px solid black;
   width: 100px;
   height: 100px;
   border-radius: 50%;


  }
  .BUTTON{
    
    border: 3px solid black;
    border-radius: 25% 0% 25% 0%;
    padding: 10 px;
    width: 100px;
    text-align: center;
    margin: 5px 50px 5px 50px;

  }
  .scroll{
    display: block;
    border: 1px solid black;
    margin: 10px;
    width: 200px;
    max-height: 200px;
    overflow: auto;
  }
.Example2{
  opacity: 0.5;
  
}

body{
  background-image: url(../img/backgraund1jpg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  background-size: cover;
}
.block{
background-color: aliceblue;



  height: 100px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(221, 13, 13);


}
*/
