@import "nullstyle.scss";
$fz:24px;
$fs:42px;
$frd:  #ec6863;
$frl:  #f37a82;
$fbd: #4285f4;
$fbl: #70a3f7;
@function prc($pxOne, $pxTwo){
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}


@function rem($px){
  $result: math.div($px, 16) + rem;
  @return $result;
}
body{
  background-color: #0d0d11;
  font-family: "Poppins";
  font-weight: 300;
  color: #9C9C9C;
}
/*--------------------------------------*/
.wrapper{
min-height: 100%;
display: flex;
flex-direction: column;
overflow: clip;
}
/*--------------------------------------*/
[class*="__container"]{
  max-width: 1310px;
  margin: 0 auto;
  padding: 0px 15px;

}
.button {
  display: inline-block;
  text-align: center;
  padding: 16px 30px;
  height: 52px;
  background: #3D96F4;
  border-radius: 50px;
  color: white;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
}

/*--------------------------------------*/
.page{
  flex: 1 1 auto;
}

/*------------HEADER--------------------------*/

.header {
}
.header__container {
  display: flex;
  column-gap: 35px;
  align-items:center;
  min-height: 116px;
  padding-top: 5px;
  padding-bottom:5px ;
}
.header__logo {
}
.header__menu {
  flex: 1 1 auto;
}
.menu {
}
.menu__icon {
}

.menu__list {
  display: flex;
  column-gap: 35px;
  justify-content: flex-end;
}
.menu__item {
}
.menu__link {
  font-size: 16px;
  line-height: 1.62;
  color: white;
}
.menu__link:hover{
  text-decoration: underline;
}
.header__cart {
}
.cart-heaaer {
  color: white;
  display: flex;
  align-items:center;
  gap: 5px;
}
.cart-header__text {
  font-size: 18px;
  line-height: 1.55;
  color: white;

}

.cart-header:hover {
  text-decoration: underline;

}
.cart-header__text:hover{
  text-decoration: underline;
}
.cart-header__quantuty {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items:center;
  background: rgba(129, 129, 139, 0.3);
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
}
.header__button {
}
.icon-menu {
  display: none;
}
/*--------------------------------------*/

























